#h1{
    text-align: center;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: antiquewhite;
    height: 130px ;
    margin: 0px;
    padding: 50px;
    font-size: 40px;
    font-family: initial Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#search{
    margin-left: 0px;
    width: 25%;
    border-radius: 40px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search:focus{
    border: none;
    outline: 0px;
}

.search-icon{
    margin-left: 5px;
    background-color: antiquewhite;
    padding: 9px;
    border-radius: 50px;
}

.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    gap:10px;
    margin-bottom: 20px !important;
   
}
.card{
   padding: 20px 10px 10px 15px; 
   margin-top: 30px;
   margin-left: 80px;
   margin-right: 20px;
   min-height: 450px !important;
   max-height: 1000px !important;

}

.highlight {
    background-color: yellow;
    font-weight: bold;
  }

  @media only screen and (max-width: 450px) {
    html{
        width: 450px;
    } 
    #search{
        margin-left: 10px;
        width: 40% !important;
    
    }
  }

  @media only screen and (max-width: 900px) {
    
    #search{
        margin-left: 10px;
        width: 30%;
    
    }

    .card{
        
        margin-left: 70px !important;
        margin-right: 10px !important;

        
     }
  }

